{% extends 'base.html' %}
{% load humanize %}
{% load user_filters %}
{% load thumbnail %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}

<div class="row" style="margin-bottom: 40px;">
    <div class="col-md-9">
        <h1>{{ post.title }}</h1>

        {% thumbnail post.image "660x339" crop="center" upscale=True as im %}
        <img class="card-img" src="{{ im.url }}"/>
        {% endthumbnail %}

        <div style="font-weight: bold;">
            {{ post.author.get_full_name }}, обновлено: {{ post.upd_date|naturalday }}
        </div>
        <article style="padding-top:10px;">
            <p>
                {{ post.text|linebreaksbr }}
            </p>
        </article>


        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'edit_post' slug=post.slug category=post.category|slug_transl %}">
                    <button class="btn btn-primary">Редактировать</button>
                </a>
            </div>
            <div class="col-md-2 text-right">
                <a href="{% url 'delete_post' slug=post.slug category=post.category|slug_transl %}">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form action="{% url 'add_comment' slug=post.slug category=post.category|slug_transl %}" method="post">
            {% csrf_token %}
            {{ comments_form.as_p }}
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
        <br>
    </div>
</div>

{% if post.comments %}
<div class="row">
    <div class="col-md-6">
        <h5>Комментарии ({{ post.comments.count }}):</h5>
        {% for comment in post.comments.all %}
        <div>
            <i>{{ comment.author.get_full_name }}, {{ comment.created | naturalday }}:</i>
            <blockquote>{{ comment.text }}</blockquote>
            {% if not forloop.last %}<hr>{% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}

{% endblock %}