{% load thumbnail %}
{% load user_filters %}

<style>
   a {
   color: unset;
    text-decoration: none;
   }
    a:hover {
   color: unset;
    text-decoration: none;
   }
  </style>

<div class="col">
<a href="{% url 'detail_post' slug=post.slug category=post.category|slug_transl %}">
    <div class="card h-100">

        {% thumbnail post.image "660x339" crop="center" upscale=True as im %}

            <img class="card-img" src="{{ im.url }}"/>

        {% endthumbnail %}

        <div class="card-body">

                <h5 class="card-title">{{ post.title }}</h5>

                <p class="card-text">{{ post.text | linebreaksbr | truncatewords:20 }}</p>

                <small class="text-muted">Обновлено {{ post.upd_date | date }}</small>
                {% if post.comments.count %}
                <small class="text-muted">, комментариев - {{ post.comments.count }}</small>
                {% endif %}

        </div>
    </div>

</a>
</div>